[submodule "MantleTests/expecta"]
	path = MantleTests/expecta
	url = https://github.com/specta/expecta.git
[submodule "MantleTests/specta"]
	path = MantleTests/specta
	url = https://github.com/specta/specta.git
[submodule "Configuration"]
	path = Configuration
	url = https://github.com/jspahrsummers/xcconfigs.git
