[submodule "libextobjc"]
	path = libextobjc
	url = git://github.com/jspahrsummers/libextobjc.git
[submodule "MantleTests/expecta"]
	path = MantleTests/expecta
	url = git://github.com/github/expecta.git
[submodule "MantleTests/specta"]
	path = MantleTests/specta
	url = git://github.com/github/specta.git
